<style>
      .message-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        max-width: 600px;
        font-size: 1.2rem;
        color: #2c2c2c;
        line-height: 1.5rem;
        margin-top: 6rem;
      }
      .description-strong {
        color: #007cff;
      }
  </style>


<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada!</p>
  <h3>Insira o <strong class="description-strong">token</strong> abaixo no aplicativo</h3>
  <h2>{{token}}</h2>
  <p>
    Obrigado!<br />
    <strong class="description-strong">Equipe MeuMoney</strong>
  </p>
</div>
